.App {
  text-align: center;
}
#app-container{
  width:1200px;
  height:900px;
  display: flex;
  justify-content: left;
  border-style: solid;
}
.map-tab{
  min-width:400px;
/*  flex-direction: column;*/
}
.tab-pane{
  min-width: 1060px;
}
#chrono {
  color: black;
  border: solid 1px;
  align-items: center;
  justify-content: space-around;
  width:80%;
  height:90px;
  line-height: 90px;
  margin-left:10%;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}
.histogram{
  width:500px;
  height:200px;
  border-style: solid;
}
.map{
  width:500px;
  height:500px;
  border-style: solid;
}
.rangeslider__label-item{
  transform: translate3d(0, -10%, 0)!important;
}
.rangeslider{
  width:80%;
  min-width: 100px;
  max-width: 400px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  color: black;
  width: 275px;
  height: 77px;
  padding: 2px;
  font: 12px sans-serif;
  background: grey;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}


.rect {
  width:120px;
  height:80px;
}
.brighter {
  border:1px solid black;
}
.darker {
  border:1px solid white;
}

.bar {
  fill: rgb(88, 180, 70);
}

.bar:hover {
  fill: brown;
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}
.dropdown{
}