.App {
  text-align: center;
}
header{
  background-color: #3d4a57;
  border-color: #333;
}
header h1{
  color: #fbfbfb;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
#app-container{
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  background: #f8f8f8;
  width:1500px;
  height:1020px;
  display: flex;
  justify-content: left;
}
.map-tab{
  min-width:400px;
/*  flex-direction: column;*/
}
.tab-pane{
  min-width: 1060px;
}
#chrono {
  color: black;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  background: #e9e9e9;
  align-items: center;
  justify-content: space-around;
  width:80%;
  height:80px;
  line-height: 90px;
  margin-left:10%;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}
.rangeslider-horizontal{
  margin-bottom: 0px!important;
  margin-top: 0px!important;
}
ul{
  scroll-padding-inline-start: 0!important;
}
.histogram{
  width:500px;
  height:250px;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
}
.datatype-select{
  width:500px;
  height: 50px;
}
.dropdown{
  align-items: center;
  margin: 3px;
}
.map{
  width:500px;
  height:550px;
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 10px;
}
.graph{
  width:1100px;
  height:700px;
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 10px;
}
h3{
  font-family: Arial;
  font-size: 18px;
  font-weight: 600;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #666;
  border-bottom: 1px solid #d7d7d7;
}
.rangeslider__label-item{
  transform: translate3d(0, -80%, 0)!important;
  height: 30px!important;
  top: 2px !important;
  margin-bottom: 5px!important;
}
.rangeslider{
  width:80%;
  min-width: 100px;
  max-width: 400px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  color: black;
  width: 275px;
  height: 77px;
  padding: 2px;
  font: 12px sans-serif;
  background: grey;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.offset-md-0 .btn, .row, .row .offset-md-0{
  margin-right: 0!important;
  margin-left: 0!important;
  padding-right: 0!important;
  padding-left: 0!important;
}
.second-map-button{
  width: 100px !important;
  padding-right: 0!important;
  padding-left: 0!important;
}
.col-md-8{
  text-align: right!important;
}
.rect {
  width:120px;
  height:80px;
}
.brighter {
  border:1px solid black;
}
.darker {
  border:1px solid white;
}

.bar {
  fill: rgb(88, 180, 70);
}

.bar:hover {
  fill: brown;
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}
.dropdown{
}