div.tooltip {
    position: absolute;
    text-align: center;
    color: black;
    width: 275px;
    height: 50px;
    padding: 2px;
    font: 14px sans-serif;
    background: grey;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    padding-top: 10px;
}


.rect {
    width:120px;
    height:80px;
}
.brighter {
    border:1px solid black;
}
.darker {
    border:1px solid white;
}

.spinner {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}